body{
    background-color: rgba(75, 110, 64, 0.753);
    font-family: 'Playfair Display', serif;
    text-align: center;
}
#title{
    color: white;
    padding: 5px 5px;
    text-decoration: overline;
}
.background{
    background-color: rgb(143, 202, 143);
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
}
.header{
    color: white;
}
.preview{
    color: white;
    margin: 10px auto;
    margin-left: 50px;
    margin-right: 50px;
}
.links{
    color: white;
    padding: 15px 15px;
}
.links:hover {
    color: blue;
}

img{
    width: 55vh;
    height: 50vh;
}
