body{
    background-color: rgb(135, 175, 135);
}
.main-header{
    text-align: center;
    color: white;
    margin-top: 40px auto;
}
.header{
    text-align: center;
    color: white
}
.words{
    text-align: center;
    color: white
}
.picture{
    width: 55vh;
    height: 55vh;
}
